@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Titillium+Web&display=swap');

:root {
    --main-bg: #45858C;
    --secondary-bg: #A0D9D9;
    --main-text: #D9C589;
    --secondary-text: #BF9765;
    --highlight-text: #D92B04;
}


body {
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}